:root {
   --primary: #814e28;
   --primary-focus: #734424;
}

/* Navbar */
.active {
   color: var(--primary) !important;
}

.nav-link:hover {
   color: var(--primary);
}

/* Component */
.btn-primary {
   background-color: var(--primary) !important;
   border-color: var(--primary) !important;
}

.btn-primary:hover {
   background-color: var(--primary-focus) !important;
}
